# JWT Configuration
Jwt__Key=
Jwt__Issuer=
Jwt__Audience=
Jwt__AccessTokenExpirationMinutes=
Jwt__RefreshTokenExpirationDays=

# Database
ConnectionStrings__DefaultConnection=

# Seed configuration
Seed__AdminEmail=admin@example.com
Seed__AdminPassword=password
